// bootstrap-sass
// required for sass-loader
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

$themekit-enable-colors: true;
$themekit-enable-colors-text: true;

@import "~themekit-vue/src/sass/variables";